[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".vim/bundle/vim-solarized8"]
	path = .vim/bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
